* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    
}

#contenedor {
    border: 1px solid rgb(137, 231, 150);;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    background-color: #FFF;
    padding: auto;
    
    /*height: 920px;*/
}

.contenedor-ab{
    border: 1px solid rgb(149, 117, 186);;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    background-color: #FFF;
    padding: auto;
}

header {
    border: 1px solid rgb(92, 162, 60);
    width: 100%;
    margin-bottom: 15px;
    /* height: 150px;*/   /* para que el carrusel este encima del menú*/
    background-color: #5DA355;
    /*  overflow: hidden;*/ /*contenido se adapta al tamaño*/
}


    header h1 {
        color: #FFF;
        padding: 10px;
        text-align: center;
    }

.nav {
        width: 100%;
        justify-content: center;
    }
    
.nav-ab{
    width: 100%;  
    justify-content: center;
}


    nav ul {
        list-style: none;
    }

        nav ul li {
            float: left;
            width: 15%;
            text-align: center;
        }

            nav ul li a {
                display: block;
                padding-top: 8px;
                padding-bottom: 8px;
                font-weight: bold;
                color: white;
                background:#2E8044;
                text-decoration: none;
            }

                nav ul li a:hover {
                    background-color: chocolate;
                }

header .logo {
    float: left;
    margin: 15px;
    width: 50px;
}

    header .logo img {
        width: 100%;
    }

section#inicio h1 {
    width: 100%;
    text-align: center;
    margin: 20px;
}

section p {
    text-align: justify;
    margin-bottom: 10px;
}

section#inicio img {
    width: 100%;
    margin-bottom: 15px;
}

aside img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Estilos Seccion Quienes Somos*/

section#inicio h2 {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkblue;
}

.figuraQS {
    margin: 60px 20px 20px 20px;
}

/*Estilos Seccion Cursos*/

article {
    border: 1px solid #903;
    width: 25%;
    display: inline-block;
    margin: 15px 30px;
    padding: 5px;
}

    article h1 {
        text-align: center;
    }

    article figure {
        text-align: center;
    }

    article p {
        text-align: justify;
    }
.cabeza-ab{
    padding-bottom: 1%;
   
}

.cabeza1{
    position: relative;
    right:  2.5%;
}


.titulo-home{
    text-align: center;
    z-index: 100;
    width: 100%;
    padding-bottom: auto;
    position: relative;
}

.titulo-ab{
    text-align: center;
    z-index: 100;
    width: 100%;
    
}

.pie-pagina{
    background-color: #5DA355;
    padding: 20px auto;
    border: 1px solid #5DA355;
    text-align: end;
    width: 100%;  
}


.icon{
    padding: 1px 0px;
    margin: 20px;
    width: auto;
 
}
.flex{
    display: flex;
}
.Name{
    margin: auto;
    text-align: end;
    color: #e2d1c3;
    font: 40px;
    width: 100%;
    position: relative;
    right: 5%;
}
.tam-img{
    width: 32.33%;
    margin: 1%;
    box-shadow: 5px 5px white;
    position: relative;
    right: 2%;
}
.fonts-tipe{
    font-family: 'Cormorant SC', serif;
font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Poppins', sans-serif;
}
.bg-parrafo{
    background-color: #F2F7E9;
    color: black;
}

.img-about{
    width: 100%;
    position: relative;
    right: 2.6%;
    
}



